* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #000000;
}

.page-header {
  background: #000;
  display: flex;
  justify-content: center;
}

.header-logo {
  display: block;
  padding: 28px 0;
}

.main-banner {
  width: 100%;
  display: block;
}

.top-infocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0 188px;
}

.top-infocard-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 766px;
}

.top-infocard-subtitle {
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
}

.top-infocard-title {
  font-weight: 500;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.top-infocard-description {
  font-size: 16px;
  line-height: 24px;
}

.top-infocard-image {
  margin-top: 66px;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  justify-content: center;
  padding: 0 0 80px;
}

.top-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 36px 26px 28px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 300px;
}

.top-card-image {
  display: block;
  margin-bottom: 27px;
}

.middle-banners {
  margin-bottom: 230px;
  background: #e0e0e0;
}

.middle-banner-desktop {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 32px;
  justify-content: center;
  position: relative;
  bottom: -96px;
}

.middle-banner-image-desktop {
  max-width: 370px;
}

.middle-banner-image-mobile1 {
  margin-right: 10px;
}

.bottom-cards {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 14px;
  justify-content: center;
  padding: 0 0 138px;
}

.bottom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  padding: 26px 32px 44px;
  max-width: 300px;
}

.bottom-card-image {
  display: block;
  margin-bottom: 14px;
}

.bottom-card-text {
  max-width: 267px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.bottom-infocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 104px;
}

.bottom-infocard-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}

.bottom-infocard-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  text-align: center;
}

.bottom-infocard-description {
  margin-top: 18px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.bottom-infocard-desktop-image {
  display: block;
  width: 100%;
  padding: 32px 8% 0;
}

@media screen and (max-width: 374px) {
  .middle-banner-image-mobile {
    display: none;
  }
  .middle-banner-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -80px;
  }
  .middle-banner-image {
    width: 100%;
    padding: 0 16px;
  }
  .top-infocard-image {
    width: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 499px) {
  .middle-banner-image-desktop {
    display: none;
  }

  .middle-banner-mobile {
    display: grid;
    row-gap: 24px;
    justify-content: center;
    position: relative;
    bottom: -96px;
  }
}
@media screen and (max-width: 400px) {
  .main-banner-desktop {
    display: none;
  }
}
@media screen and (min-width: 401px) {
  .main-banner-mobile {
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 1199px) {
  .middle-banner-image-mobile {
    display: none;
  }
  .middle-banner-desktop {
    grid-template-columns: repeat(1, max-content);
  }
}

@media screen and (max-width: 767px) {
  .bottom-infocard-desktop-image {
    display: none;
  }

  .bottom-infocard-mobile-image {
    display: block;
    width: 100%;
  }
  .bottom-infocard-text {
    padding: 51px 32px 0;
  }
  .bottom-infocard-text {
    max-width: 100%;
  }
  .bottom-infocard-title {
    font-size: 24px;
  }
  .bottom-infocard-description {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .bottom-infocard-mobile,
  .bottom-infocard-mobile-image {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .top-infocard {
    padding: 70px 26px 80px;
  }
  .top-infocard-subtitle {
    font-size: 20px;
  }
  .top-infocard-title {
    font-size: 28px;
    margin-bottom: 12px;
  }
  .top-infocard-description {
    text-align: center;
  }
  .top-infocard-image {
    max-width: 240px;
  }
  .bottom-cards {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0 26px 80px;
  }
  .bottom-card {
    max-width: 100%;
  }
  .bottom-card-text {
    max-width: 100%;
    font-size: 14px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1300px) {
  .bottom-cards {
    grid-template-columns: repeat(2, max-content);
    padding: 0 26px 138px;
  }
  .bottom-card {
    max-width: 100%;
    padding: 36px 32px 66px;
  }
  .bottom-card-text {
    max-width: 368px;
  }
  .bottom-card-image {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .middle-banner-image-mobile {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .top-cards {
    grid-template-columns: 1fr;
    padding: 0 26px 80px;
  }
  .top-card-description {
    max-width: 100%;
  }
}
