* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header {
  background: #000;
  display: flex;
  justify-content: center;
  /* padding: 28px 0; */
}

.header-logo {
  display: block;
  padding: 28px 0;
}

.main-banner {
  width: 100%;
  display: block;
}

@media screen and (max-width: 400px) {
  .main-banner-desktop {
    display: none;
  }
}
@media screen and (min-width: 401px) {
  .main-banner-mobile {
    display: none;
  }
}
